// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #8FECC8;
$yellow: #F1B255;
$green: #32B796;
$orange: #E67E22;
$green: #32B796;

$dark-gray: #252A34;
$medium-gray: #D0D0D0;
$light-gray: #F4F4F4;
$blue-gray:#495073;
$dark-blue-gray: #3D4361;

$pink:#FF395E;
$gray:#6F6F6F;
