<div class="wrapper-mobile flex-horizontal" id="page8">
  <div class="fullscreen-wrapper-under-navbar flex-vertical flex-column text-center">
    <div>
      <p class="margin-bottom-medium">Merci ! Vos informations ont été transmises.</p>
      <h1 class="margin-bottom-medium">À présent, appeler le centre antipoison</h1>
      <div>
        <%= link_to "05 56 96 40 80", "tel://0556964080" phone_path, class:"btn btn-pink flexbox center" %>
      </div>
    </div>
  </div>
</div>
