<div class="navbar-wagon" id="page0">
  <%= link_to root_path, class: "navbar-wagon-brand logo-center-top", id:"logo" do %>
    <%= image_tag "capsos_logo.png" %>
  <% end %>

  <div class="navbar-wagon-right">
    <%= image_tag "flag_britain.png" %>
    <%= link_to(content_tag(:i, nil, class: 'fa fa-info-circle'), "")%>
  </div>
</div>

