<div class="wrapper-mobile flex-horizontal" id="page0">
  <div class="fullscreen-wrapper-under-navbar flex-vertical flex-column text-center">
    <div>
      <div><p>Si le patient ne respire pas ou n’est pas conscient, appelez le SAMU.</p></div>
      <div class="btn btn-blue flexbox center">Appeler le SAMU (15)</div>
    </div>
    <div>
      <div><p>Sinon :</p></div>
      <div class="btn btn-pink flexbox center scroll">CENTRE ANTIPOISON</div>
    </div>
  </div>
</div>
