<%= link_to captv_path do %>
  <div class="screen">
    <%= image_tag "http://res.cloudinary.com/doodlid/image/upload/v1508137861/capsos/screen0.png", class: "screen" %>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
        $('.navbar-wagon').hide();
    });
  <% end %>
<% end %>
